/******* CSS used throughout App *******/
* {
	font-family: 'Roboto Slab', serif;

}

/*******  Register Component ********/
.registerComponent {
	width: 100vw;
	/*background-color: #A5D6FC;*/
	background-image: url('login-img.jpeg');
	/*background-image: url('test.jpeg');*/
	/* Full height */
	height: 100vh;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*position: relative;*/
	display: inline-flex;
	justify-content: center;
}

.title-box {
	position: absolute;
	width: max-content;
	top:7.5rem;
	/*text-shadow: white 0px 0px 10px;*/
	/*background-color: #FDFDFD;*/
	/*background: rgba(0,0,0,0.05);*/
}
.title {
	color: white;
	font-size: 8vw;
}
.box {
	display: inline-flex;
	justify-content: center;
	position: absolute;
	top:17rem;
	/*height: 100vh;*/
	width: 100vw;
	/*flex-direction: column;
	width: 30vw;
	background-color: black;
	background: rgba(0,0,0,0.7);*/
}
.loginBox {
	flex-direction: column;
	width: 30vw;
	background-color: black;
	background: rgba(0,0,0,0.7);
	text-align: center;
}
.btn-block {
	background-color: grey;
	border: none;
}
.form-control[type="text"] {
	background-color: white;
}
.form-signin-heading {
	color: white;
}
.checkbox {
	color: white;
}
/*******  End Register Component ********/
/*
.space {
	height: 2rem;
}
.header {
	height: 25vh;
	width: auto;*/
	/*background-image:url('https://static.pexels.com/photos/416714/pexels-photo-416714.jpeg');*/
	/*background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
/******* Search Component *****/
.searchComponent {
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
}
.header {
	height: 25vh;
	width: 100%;
	/*background-image:url('https://static.pexels.com/photos/416714/pexels-photo-416714.jpeg');*/
	background-image:url('header.jpeg');
	/*background-color: blue;*/
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
	/*background-size: cover;*/
	/*background-position: top;*/
	/*background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
.btn-group {
	width: auto;
}
.dropdown-menu {
	/*width: auto;
	height: 20vh;*/
}
/******* End Search Component *****/

/****** Report Component ******/
.areaContainer {
  border:1px solid black;
  height:30rem;
  width:25rem;
  display:flex;
  justify-content:center;
}
.forcastSnow {
  display:flex;
  flex-direction: row;
  align-content:stretch;
}
.forcast {
  width:50%;
}
.snow {
  width: 50%;
}
.fbLiftData {
  display:flex;
  flex-direction: row;
  align-content:stretch;
}
.facebook {
  width:50%;
  margin-top: 5rem;
}
.liftdata {
	margin-top: 5rem;
}
.snow {
  width:50%;
}
/****** End Report Component ******/
