/******* CSS used throughout App *******/
* {
	font-family: 'Roboto Slab', serif;

}
.space {
	height: 2rem;
}
											/*******  Register Component ********/
.registerComponent {
	width: 100vw;
	/*background-color: #A5D6FC;*/
	background-image: url('login-img.jpeg');
	/*background-image: url('test.jpeg');*/
	/* Full height */
	height: 100vh;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*position: relative;*/
	display: inline-flex;
	justify-content: center;
}

.title-box {
	position: absolute;
	width: max-content;
	top:7.5rem;
	/*text-shadow: white 0px 0px 10px;*/
	/*background-color: #FDFDFD;*/
	/*background: rgba(0,0,0,0.05);*/
}
.title {
	color: white;
	font-size: 8vw;
}
.box {
	display: inline-flex;
	justify-content: center;
	position: absolute;
	top:17rem;
	/*height: 100vh;*/
	width: 100vw;
	/*flex-direction: column;
	width: 30vw;
	background-color: black;
	background: rgba(0,0,0,0.7);*/
}
.loginBox {
	flex-direction: column;
	width: 30vw;
	background-color: black;
	background: rgba(0,0,0,0.7);
	text-align: center;
}
.btn-block {
	background-color: grey;
	border: none;
}
.form-control:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0px 9999px white;
}
.form-control[type="text"] {
	background-color: white;
}
.form-control.testColor {
	background-color: white;
}
.form-signin-heading {
	color: white;
}
.checkbox {
	color: white;
}
										/*******  End Register Component ********/
/*
.space {
	height: 2rem;
}
.header {
	height: 25vh;
	width: auto;*/
	/*background-image:url('https://static.pexels.com/photos/416714/pexels-photo-416714.jpeg');*/
	/*background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
										/******* Search Component *****/
.searchComponent {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.headerVid {
    position: relative;
    overflow: hidden;
    width:100vw;
    height:45vh;
    max-height:100vh;
    text-align:center;
}
@media only screen and (min-width: 1600px) {
    /* For mobile phones: */
    .headerVid {
		/*display: none;*/
        height: 55vh;
    }
}
@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .headerVid {
		/*display: none;*/
        height: 45vh;
    }
}
.div {
    position:absolute;
    height:100%;
    width:200%;
    left:-50%;
}

video {
	margin-top: -24rem;
	width: 100%;
	/*width: 100%;
  	height: 100%;
  	object-fit: cover;*/
    /*height:auto;
    min-height:100%;
    min-width:50%;*/
}
@media only screen and (min-width: 1600px) {
    /* For mobile phones: */
    video {
		/*display: none;*/
        margin-top: -32rem;
    }
}
@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    video {
		/*display: none;*/
        margin-top: -15rem;
    }
}
@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    video {
		/*display: none;*/
        margin-top: -8rem;
    }
}
.selectArea {
	display: inline-flex;
}
.selectArea h1{
	color: #9DCAEB;
}
.selectArea i {
	color: #9DCAEB;
}
.btn-group {
	width: auto;
}
.btn-primary {
	background: none;
	border: none;
	color: #9DCAEB;
	font-size: 2rem;
}
.btn-primary:hover {
	background: none;
	color: #9DCAEB;

}
.dropdown-toggle:hover {
	transform: scale(2);
	transition: all 280ms ease-in;
}
.dropdown-toggle:active {
	color: #9DCAEB;
	border: none;
	background-color: white;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: #9DCAEB;
	background-color: white;
	border: none;
	box-shadow: none;
}
.dropdown-menu {
	width: 40vw;
	height: 15vh;
	position: absolute;
	left:0;
}
.areaGrid {
	width: 100vw;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}
.areaGrid-center {
}
.row {
	text-align: center;
}
.router {
	font-size: 1.5rem;
	color: #9DCAEB;
}
.router:hover {
	text-decoration: none;
}
											/******* End Search Component *****/

											/****** Report Component ******/
/*.areaContainer {
  border:1px solid black;
  height:30rem;
  width:25rem;
  display:flex;
  justify-content:center;
}*/

.report {
	width: 70vw;
	height: 50vh;
	/*border: 2px dotted #9DCAEB;*/
	text-align: center;
}
.reportTitle {
	color: #9DCAEB;
}
.forcastSnow {
  display: flex;
  flex-direction: row;
  align-content:stretch;
}
.forcast {
  width:50%;
}
/*Snowfall*/
.snow {

}
.snowfallNum {
	display: inline-block;
}
.snowfallNum h4{
	color: #9DCAEB;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
.snowfallWords {
	display: inline-block;
}
.fbLiftData {
  display:flex;
  flex-direction: row;
  align-content:stretch;
}
.facebook {
  width:50%;
  margin-top: 5rem;
}
.liftdata {
	margin-top: 5rem;
}
.liftsOpen h4{
	color: #48C170;
	display: inline-block;
}
.liftsOpen p{
	display: inline-block;
}
.liftsClosed h4 {
	color: #FF4041;
	display: inline-block;
}
.liftsClosed p {
	display: inline-block;
}

											/****** End Report Component ******/
