
	<div class="register">
		<h2>Register</h2>
		<form v-on:submit="register">
			<input placeholder="username" v-model="registerForm.username">
			<input placeholder="password" type="password" v-model="registerForm.password">
			<input type="submit">
		</form>
		<h2>Log In</h2>
		<form v-on:submit.prevent="login">
			<input placeholder="username" v-model="loginForm.username">
			<input placeholder="password" type="password" v-model="loginForm.password">
			<input type="submit">
		</form>
	</div>
<!-- <script>
	methods: {
		register : function() {
			console.log(this.registerForm.password)
			// we don't actually refer to the event object inside of this function, so there's no need to name the event object
			$.post('/register', this.registerForm, function(dataFromServer){
				console.log(dataFromServer)
			})
		},
		login : function() {
			// we don't actually refer to the event object inside of this function, so there's no need to name the event object
			$.post('/login', this.loginForm, function(dataFromServer){
				console.log(dataFromServer)
			})
		},
	},
</script> -->
