<div class="registerComponent">
	<div class="container-fluid">
		<div class="box">
				<!-- <div class="register">
				<h2>Register</h2>
				<form v-on:submit="register">
					<input placeholder="username" v-model="registerForm.username">
					<input placeholder="password" type="password" v-model="registerForm.password">
					<input type="submit">
				</form>
				<h2>Log In</h2>
				<form v-on:submit.prevent="login">
					<input placeholder="username" v-model="loginForm.username">
					<input placeholder="password" type="password" v-model="loginForm.password">
					<input type="submit">
				</form>
			</div> -->
			<div class="login">
				<div class="wrapper">
			  		<form class="form-signin" v-on:submit.prevent="login">
						<h2 class="form-signin-heading">Login</h2>
						<input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" v-model="loginForm.username">
						<input type="password" class="form-control" name="password" placeholder="Password" required="" v-model="loginForm.password">
						<label class="checkbox">
				  			<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
						</label>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			  		</form>
				</div>
			</div>
		<!-- {{{{{{{Register}}}}}}} -->
			<div class="register">
				<button v-on:click="clicked = !clicked">Register</button>
				<div v-if="clicked">
					<div class="wrapper">
						<form class="form-signin" v-on:submit='register'>
							<h2 class="form-signin-heading">Register</h2>
							<input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" v-model="registerForm.username">
							<input type="password" class="form-control" name="password" placeholder="Password" required="" v-model="registerForm.password">
							<label class="checkbox">
							  <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
							</label>
							<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
